KAFKA_BROKERS=rc1a-6ibie76edoio2ab7.mdb.yandexcloud.net:9091
KAFKA_TOPIC=topic-1
KAFKA_USER=practicumuser
KAFKA_PASSWORD=SecurePass2026
SCHEMA_REGISTRY_URL=http://localhost:8081
CA_FILE=YandexInternalRootCA.crt
CONSUMER_GROUP=avro-consumer
SECURITY_PROTOCOL=SASL_SSL
SASL_MECHANISM=SCRAM-SHA-512
